<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单选框</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        单个单选框：<br>
        <input type="radio" name="" v-bind:checked="isChecked">

        <hr>

        多个单选框：<br>
        苹果<input type="radio" name="fruits" value="apple" v-model="checkFruit"> <br>
        香蕉<input type="radio" name="fruits" value="banana" v-model="checkFruit"> <br>
        菠萝<input type="radio" name="fruits" value="pineapple" v-model="checkFruit"> <br>
        桃子<input type="radio" name="fruits" value="peach" v-model="checkFruit"> <br>
        ---{{ checkFruit }}
    </div>

    <!-- v-model绑定的是选定的单选框的value值 -->

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isChecked: true,
                checkFruit: 'banana'
            }
        })
    </script>
</body>
</html>